.infoCardSubhead {
    font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    text-align: justify;
    text-decoration: solid;
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.infoCardTextContainer{
    background-color: #e0a7a7;
}

.infoCardImage{
    display: block;
    margin: auto;
}

.imageElement--imgFondo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infoCardContainer{
    border: 2px solid;
    border-color: #b22222;
    padding: 0px;
}